beautifulsoup4
bs4
certifi
charset-normalizer
click
colorama
comtypes
decorator
Flask
Flask-Minify
gunicorn
htmlmin
idna
imageio
imageio-ffmpeg
importlib-metadata
itsdangerous
Jinja2
jsmin
lesscpy
MarkupSafe
moviepy
numpy
Pillow
ply
proglog
pyttsx3
pytube
rcssmin
requests
six
soupsieve
tqdm
urllib3
Werkzeug
xxhash
zipp
